@import url(https://fonts.bunny.net/css?family=carattere:400);

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

h1 {
	font-family: 'Carattere', handwriting;
}

.card {
	border: 1px solid black;
	border-radius: 5px;
	padding: 2em;
	margin: 1em;
	display: inline-block;
	cursor: pointer;
	transition: background-color 2000ms linear;
}

.card:hover {
	background-color: red;
	transition: background-color 2000ms linear;
}

.card-title {
	font-family: 'Carattere', handwriting;
	font-size: 2em;
}
